header {
    min-height: 60px;
    font-size: 0;
    .logo-link {
        float: left;
        width: 90px;
        position: relative;
        top: -12px;
    }
    
    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        width: 100%;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
