/*--------------------------------------------------------------------------

  0. Global styles
  1. Navbar
  2. Global info
  3. Resume container
  3. Typography
  4. Resume card + Sidenote
  5. Footer
  6. Print

/* ==========================================================================
0. Global styles
========================================================================== */
body
{
    font-family: 'Montserrat', sans-serif;

    padding-top: 247px;

    background-color: #ff3417;
    background-image: -webkit-linear-gradient(140deg, #ff5b17, #d91b00, #ff1747);
    background-image:      -o-linear-gradient(140deg, #ff5b17, #d91b00, #ff1747);
    background-image:         linear-gradient(140deg, #ff5b17, #d91b00, #ff1747);
    background-repeat: repeat-x;
}
a,
button
{
    transition: all .2s ease-in-out;
}
.container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px)
{
    .container
    {
        width: 100%;
    }
}
@media (min-width: 992px)
{
    .container
    {
        width: 970px;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        width: 1170px;
    }
}
/* ==========================================================================
1. Navbar overwrites
========================================================================== */
.navbar-default .navbar-nav > li > a
{
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 0;

    color: #8b8b8b;
    border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
    color: #ff3417;
    border-bottom: 2px solid #ff3417;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color: #ff3417;
    border-bottom: 2px solid #ff3417;
    background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus
{
    color: #444;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a
{
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 0;

    color: #8b8b8b;
    border-bottom: 2px solid transparent;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
    color: #ff3417;
    border-bottom: 2px solid #ff3417;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    color: #ff3417;
    border-bottom: 2px solid #ff3417;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus
{
    color: #444;
    background-color: transparent;
}
.navbar-brand
{
    font-size: 27px;
    font-weight: normal;
    line-height: .6;
}
.navbar-toggle
{
    border: none;
    background-color: #ff3417;
}
.navbar li > a
{
    font-size: 13px;

    text-transform: uppercase;
}
.quick-links i
{
    font-size: 16px;
}
/* ==========================================================================
2. Global info
========================================================================== */
.global-info
{
    position: fixed;
    z-index: 1;
    top: 87px;

    width: 100%;
    height: 110px;

    background-color: #1e1e1e;
}
@media (min-width: 480px)
{
    .global-info
    {
        height: 120px;
    }
}
.global-info:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: ' ';

    opacity: .1;
    background-image: url('../img/global-info/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

        -ms-background-size: cover;
}
.global-info .avatar,
.global-info .name-jobtitle
{
    display: inline-block;

    vertical-align: middle;
}
.global-info .name-jobtitle
{
    position: relative;
    top: 15px;
}
.global-info .name-jobtitle .title
{
    font-size: 23px;
    font-weight: normal;

    margin: 0;
    padding: 0;

    color: #fff;
}
@media (min-width: 480px)
{
    .global-info .name-jobtitle .title
    {
        font-size: 26px;
    }
}
.global-info .name-jobtitle .title small
{
    font-size: 62%;

    display: block;

    padding-bottom: 5px;
}
.global-info .avatar
{
    position: relative;
    top: 30px;

    overflow: hidden;

    margin-right: 35px;
    padding: 5px;

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .15);
}
.global-info .avatar img
{
    max-width: 80px;

    border-radius: 50%;
}
@media (min-width: 480px)
{
    .global-info .avatar img
    {
        max-width: 100px;
    }
}
.address-contact
{
    position: relative;
    top: 40px;

    float: right;
}
.address-contact .address
{
    margin-right: 50px;
}
.address-contact .address,
.address-contact .contact
{
    font-size: 13px;

    display: inline-block;
}
.address-contact .address span,
.address-contact .contact span,
.address-contact .address p,
.address-contact .contact p
{
    display: inline-block;

    vertical-align: top;
}
.address-contact .address span,
.address-contact .contact span
{
    padding-right: 15px;

    color: #fff;
}
.address-contact .address p,
.address-contact .contact p
{
    font-weight: normal;

    margin: 0;
    padding-left: 15px;

    color: #acacac;
    border-left: 1px solid rgba(255, 255, 255, .1);
}
/* ==========================================================================
3. Resume container
========================================================================== */
.resume-container
{
    position: relative;
    top: -60px;

    width: 95%;
    margin: 0 auto;
    padding-top: 130px;

    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 11px 40px 0 rgba(0, 0, 0, .3);
}
@media (max-width: 992px)
{
    .resume-container
    {
        padding: 80px 26px 0 26px;
    }
}
.resume-section
{
    margin-top: 20px;

    border-top: 1px solid rgba(0, 0, 0, .1);
}
.resume-container .category-title
{
    position: relative;
    top: -40px;
    left: 0;
}
@media (min-width: 992px)
{
    .resume-container .category-title
    {
        padding-right: 34px;

        text-align: right;
    }
}
.resume-container .category-title h2
{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;

    display: inline-block;

    padding: 0 20px;

    color: #ff3417;
    background-color: #fff;
}
@media (min-width: 992px)
{
    .resume-container .category-title h2
    {
        font-size: 28px;
    }
}
.resume-container .category-title h2:before
{
    position: relative;
    top: -5px;

    display: inline-block;

    content: '_';
}
.card-container
{
    position: relative;

    margin-bottom: 70px;
}
@media (min-width: 992px)
{
    .card-container
    {
        top: -125px;
    }
    .card-container:last-child
    {
        margin-bottom: 0;
    }
}
/* ==========================================================================
4. Resume card + Sidenote
========================================================================== */
@media (min-width: 992px)
{
    .resume-card,
    .side-note
    {
        display: inline-block;
        float: none;

        vertical-align: middle;
    }
}
.side-note
{
    font-size: 14px;
    line-height: 1.3;

    position: relative;

    text-align: left;

    color: #ff3417;
}
@media (min-width: 992px)
{
    .side-note
    {
        font-size: 14px;

        top: 22px;

        padding-right: 60px;

        text-align: right;
    }
}
.side-note:before,
.side-note:after
{
    position: absolute;
    top: 50%;

    display: none;

    content: '';
    transform: translateY(-50%);

    background-color: #ff3417;
}
@media (min-width: 992px)
{
    .side-note:before,
    .side-note:after
    {
        display: block;
    }
}
.side-note:before
{
    right: 40px;

    width: 8px;
    height: 8px;

    border-radius: 50%;
}
.side-note:after
{
    right: 20px;

    width: 20px;
    height: 1px;
}
.resume-card
{
    padding: 30px;

    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}
@media (min-width: 992px)
{
    .resume-card
    {
        padding: 50px;
    }
}
.resume-card p,
.resume-card .skill .title,
.resume-card .tools li,
.resume-card .title small
{
    font-size: 14px;
}
@media (min-width: 992px)
{
    .resume-card p,
    .resume-card .skill .title,
    .resume-card .tools li,
    .resume-card .title small
    {
        font-size: 16px;
    }
}
.resume-card .title
{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    line-height: 1.3;

    margin: 0 0 0 0;
}
@media (min-width: 992px)
{
    .resume-card .title
    {
        font-size: 26px;
    }
}
.resume-card small
{
    font-family: 'Montserrat', sans-serif;

    display: block;

    padding-top: 10px;

    text-transform: uppercase;

    color: #cacaca;
}
.resume-card .title ~ p,
.resume-card .skill,
.resume-card .list
{
    margin-top: 25px;
}
.resume-card p
{
    font-family: 'Noto Serif', serif;
    line-height: 1.7;

    margin-bottom: 22px;

    color: #3e3e3e;
}
.resume-card p:last-child
{
    margin-bottom: 0;
}
.resume-card .skill .title
{
    font-family: 'Montserrat', sans-serif;

    padding-bottom: 10px;
}
.resume-card .skill .progress-bar,
.resume-card .skill .progress
{
    border-radius: 100px;
}
.resume-card .skill .progress-bar
{
    box-shadow: inset 0 1px 2px #ffefb0;
}
.resume-card .list li
{
    line-height: 1.8;
}
/* ==========================================================================
5. Footer
========================================================================== */
footer
{
    font-size: 17px;
    font-weight: bold;

    position: relative;
    top: -18px;

    padding-bottom: 20px;

    text-transform: uppercase;

    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

/* ==========================================================================
6. Print
========================================================================== */
@media print
{
    *
    {
        font-family: 'Georgia', serif !important;
        font-weight: normal !important;

        position: relative !important;

        color: #000;
    }
    p
    {
        margin-top: 10px !important;
    }
    body
    {
        padding-top: 0;
    }
    .global-info
    {
        top: 0;
        left: 25px;

        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .global-info .avatar
    {
        margin-right: 10px;
    }
    .global-info .name-jobtitle
    {
        top: 30px;
    }
    .global-info .avatar img.img-responsive
    {
        width: 60px;
    }
    .global-info .address-contact
    {
        top: 40px;
        right: 60px;

        float: right;
    }
    .global-info .address-contact p,
    .global-info .address-contact span
    {
        font-size: 10px !important;
    }
    .global-info .address-contact p
    {
        margin: 0 !important;
        padding: 0 0 0 15px;

        border-left: 1px solid #000;
    }
    .global-info .name-jobtitle .title
    {
        font-size: 22px;
    }
    .global-info .address
    {
        margin-right: 5px;
    }
    .global-info .col-md-5
    {
        float: left;

        width: 40%;
    }
    .global-info .col-md-7
    {
        display: inline-block !important;
        float: right;

        width: 60%;
    }
    .resume-section
    {
        margin-top: 40px;
        padding-top: 40px;

        border-top: 1px solid #000;
    }
    .resume-container .category-title
    {
        top: 0;

        padding: 0;
    }
    .side-note
    {
        font-size: 14px;

        padding: 0 0 0 0;

        color: #fff;
    }
    .resume-container .category-title h2
    {
        margin: 0;
        padding: 0 0 20px 0;
    }
    .resume-container .category-title h2:before
    {
        display: none;
    }
    .resume-card
    {
        padding: 0;
    }
    .resume-card .title
    {
        padding-top: 15px;
    }
    .card-container
    {
        top: 0;

        margin-bottom: 40px;
    }
    .card-container:last-child
    {
        margin-bottom: 0;
    }
    .progress-bar
    {
        text-align: left;
    }
    .progress span
    {
        left: 0;

        margin: 0;
        padding: 0;
    }
}

.box
{
    max-width: 100%;
    height: auto;
    padding: 1.5px;
}

/* ==========================================================================
1. Main variables (Edit these to customize colors of Pessoal)
========================================================================== */
/* ==========================================================================
2. Overwriting Bootstrap's variables
========================================================================== */
