html,
body {
    font: 62.5%"Microsoft YaHei", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

#Label {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page1 {
    width: 100%;
    height: 100%;
    background: url(../images/bg_big.png) no-repeat center;
    background-size: 100%;
    position: relative;
}

.input_text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    border: 0;
    background: #ededed;
    padding: 8px;
    height: 30px;
    width: 190px;
    font-size: 16px;
}

.input_upload {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: #f8792c;
    /* padding: 8px; */
    text-align: center;
    width: 207px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 2.25em
}

.page2 {
    position: relative;
    width: 100%;
    height: 70%;
    margin: 4em auto;
    text-align: center;
}

.page2 .label0 {}

.page2 .label1 {
    color: #f8792c;
    font-size: 18px;
    position: absolute;
    right: 8%
}

.page2 .label2 {
    color: #059773;
    font-size: 19px;
    position: absolute;
    left: 10%;
    top: 8%;
}

.page2 .label3 {
    color: #d74f0d;
    position: absolute;
    font-size: 27px;
    right: 10%;
    top: 18%;
}

.page2 .label4 {
    color: #d5a000;
    font-size: 16px;
    position: absolute;
    font-size: 28px;
    left: 10%;
    top: 30%;
    font-weight: bold;
}

.page2 .label5 {
    color: #7e2cf8;
    font-size: 20px;
    position: absolute;
    font-size: 24px;
    right: 20%;
    top: 46%;
}

.page2 .label6 {
    color: #2a666a;
    font-size: 20px;
    position: absolute;
    font-size: 24px;
    left: 21%;
    top: 52%;
}

.page2 .label7 {
    color: #f8792c;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    font-size: 18px;
    right: 15%;
    top: 62%;
}

.page2_labe {
    width: 100%;
    height: 100%;
}

.page2 .label8 {
    color: #2a666a;
    position: absolute;
    font-size: 23px;
    left: 15%;
    top: 70%;
}

.page2 .label9 {
    color: #a34308;
    position: absolute;
    font-size: 25px;
    right: 22%;
    top: 76%;
    font-weight: bold;
}

.input_index {
    position: absolute;
    bottom: 12%;
    left: 28%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: #f8792c;
    padding: 0.8em;
    text-align: center;
    width: 100px;
    color: #fff;
    width: 100px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 2.25em;
}

.input_share {
    position: absolute;
    bottom: 12%;
    left: 72%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: #fcbf1a;
    padding: 0.8em;
    text-align: center;
    width: 100px;
    color: #fff;
    width: 100px;
    color: #fff;
    height: 30px;
    font-size: 2.25em;
    line-height: 30px;
}

.appdown {
    background: url(../images/appdown.png) no-repeat center;
    background-size: 100%;
    display: block;
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 0%;
}

.mc {
    width: 100%;
    height: 100%;
    background: url(../images/share.png) no-repeat center;
    position: absolute;
    background-size: 100% 100%;
    top: 0;
    display: none;
}
